{% extends 'admin/base.html.twig' %}

{% block title %}Editer la fiche deu réalisateur{% endblock %}

{% block body %}
<div class="container">
  <div class="row mt-5">
    <div class="col-lg-12 text-center">
      <h1>Editer la fiche du réalisateur</h1>
    </div>
  </div>
  {{ form(form) }}
</div>
{% endblock %}
