{% extends 'base.html.twig' %}

{% block title %}Liste des films{% endblock %}

{% block stylesheets %}
  <style>
    .description{
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
    a:hover {
      text-decoration: none;
    }
    a {
      color: black;
    }
    .card {
      border: none;
    }
  </style>
{% endblock %}

{% block body %}
  <div class="container">
    <div class="scroll" id="scroll">

    </div>
  </div>

{% endblock %}

{% block javascripts %}
  <script>

  function showMovie() {

    if (!next) {
      return
    }

    next = false;

    $.ajax({
      url: '{{path("movies_ajax")}}?offset=' + offset + '&' + search,
      context: document.body
    }).done(function(html) {
      $( '#scroll' ).append(html);
      offset += limit
      next = html.trim()
    })
  }

  const search = window.location.search.substr(1)
  const limit = {{limit}}
  let offset = 0
  let next = true

  showMovie()

  $(window).scroll(function() {
    if (wintop = $(window).scrollTop() + $(window).height() > $(document).height() -100) {
      showMovie()
    }
  });

  </script>
{% endblock %}
